/* GENERIC */
:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 2px 6px 2px rgb(0 0 0 / 4%);
}

@media (min-width: 768px) {
  .container {
    max-width: 95%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 90%;
  }
}

.primary-link {
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 20px;
}

.primary-link:hover {
  color: white;
  opacity: 0.8;
}
/* HOME */

.home h1,
.home h2,
.home h3 {
  text-align: center;
  margin: 0;
}

.home h1 {
  font-size: 96px;
}

.home h2 {
  font-size: 48px;
}

.home h3 {
  font-size: 24px;
  opacity: 0.7;
}

.home p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.home .navigation-links {
  display: flex;
  margin: 40px 0 50px;
  justify-content: space-around;
}

.btn-primary {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.home .about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.home .homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.home .content-works {
  display: flex;
  padding: 20px;
  align-items: center;
}

.home .content-works .text {
  width: 50%;
  padding: 20px;
  order: 2;
}

.home .content-works .photo {
  width: 50%;
  padding: 20px;
  order: 1;
}

.home .content-works:nth-child(even) .text {
  order: 1;
}

.home .content-works:nth-child(even) .photo {
  order: 2;
}

@media (max-width: 768px) {
  .container-sm {
    max-width: 90%;
  }
  .home h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .home h2 {
    font-size: 40px;
  }

  .home h3 {
    font-size: 28px;
    opacity: 0.7;
  }

  .home .navigation-links {
    margin: 25px 0 0;
  }
  .home .navigation-links a {
    margin: 0 10px;
  }
  .home .content-works {
    flex-direction: column;
    padding: 0 20px 20px;
  }
  .home .content-works h2 {
    text-align: left;
    font-size: 30px;
    margin-top: 60px;
  }
  .home .content-works p {
    background: white;
    padding: 0;
    text-align: left;
  }
  .home .content-works .text {
    width: 100%;
    order: 1;
    padding: 0 0 10px;
  }
  .home .content-works .photo {
    width: 100%;
    order: 2;
    padding: 0;
  }
  .primary-link {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}

/* ABOUT */

.about h1 {
  text-align: left;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

.about h2 {
  text-align: left;
  font-size: 35px;
  font-weight: 500;
}

.about .intro {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}

.about-section {
  display: flex;
  align-items: center;
}

.about-text {
  padding-right: 40px;
}

.about .img-about {
  min-width: 400px;
}

@media (max-width: 991px) {
  .about .img-about {
    min-width: 300px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 0 10px;
  }
  .about-section {
    flex-direction: column;
  }
  .about-text {
    padding: 0 0 50px;
  }
  .about h1 {
    font-size: 40px;
  }

  .about h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .about .intro {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
}

/* CONTACT */
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contact h2 {
    font-size: 34px;
  }
}
