/* GENERIC */
:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 2px 6px 2px rgb(0 0 0 / 4%);
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
}

.btn-primary-custom {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-primary-custom:hover {
  background: var(--primary-color);
  color: white;
  opacity: 0.6;
}

.btn-secondary-custom {
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: white;
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  font-size: 20px;
}

.btn-secondary-custom:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  opacity: 0.6;
}
h1.generic-title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin: 60px 0;
}
@media (max-width: 768px) {
  h1.generic-title {
    font-size: 34px;
    line-height: 36px;
    margin: 40px 0;
  }
}

/* NAVBAR */

.navbar-custom {
  font-size: 18px;
  font-weight: 500;
}

.navbar-custom .nav-item {
  padding: 0 15px;
  color: #212529;
  opacity: 1;
}

.navbar-custom .nav-item .active {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .navbar-custom {
    margin: 10px 0 0;
    padding-bottom: 20px;
  }
  .navbar-custom .nav-item {
    padding: 0;
  }
}

/* HOME */

.home h1,
.home h2,
.home h3 {
  text-align: center;
  margin: 0;
}

.home h1 {
  font-size: 96px;
}

.home h2 {
  font-size: 48px;
}

.home h3 {
  font-size: 24px;
  opacity: 0.7;
}

.home .work-text {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.home .navigation-links {
  display: flex;
  margin: 40px 0 50px;
  justify-content: space-around;
}

.btn-primary {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.home .about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.home .homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.home .content-works {
  display: flex;
  padding: 20px;
  align-items: center;
}

.home .content-works .text {
  width: 50%;
  padding: 20px;
  order: 2;
}

.home .content-works .photo {
  width: 50%;
  padding: 20px;
  order: 1;
}

.home .content-works:nth-child(even) .text {
  order: 1;
}

.home .content-works:nth-child(even) .photo {
  order: 2;
}

@media (max-width: 768px) {
  .container-sm {
    max-width: 90%;
  }
  .home h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .home h2 {
    font-size: 40px;
  }

  .home h3 {
    font-size: 28px;
    opacity: 0.7;
  }

  .home .navigation-links {
    margin: 25px 0 0;
  }
  .home .navigation-links a {
    margin: 0 10px;
  }
  .home .content-works {
    flex-direction: column;
    padding: 0 20px 20px;
  }
  .home .content-works h2 {
    text-align: left;
    font-size: 30px;
    margin-top: 60px;
  }
  .home .content-works p {
    background: white;
    padding: 0;
    text-align: left;
  }
  .home .content-works .text {
    width: 100%;
    order: 1;
    padding: 0 0 10px;
  }
  .home .content-works .photo {
    width: 100%;
    order: 2;
    padding: 0;
  }
  .btn-secondary-custom {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}

/* ABOUT */

.about h1 {
  text-align: left;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

.about h2 {
  text-align: left;
  font-size: 35px;
  font-weight: 500;
}

.about .intro {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}

.about-section {
  display: flex;
  align-items: center;
}

.about-text {
  padding-right: 40px;
}

.about .img-about {
  min-width: 400px;
}

@media (max-width: 991px) {
  .about .img-about {
    min-width: 300px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 0 10px;
  }
  .about-section {
    flex-direction: column;
  }
  .about-text {
    padding: 0 0 50px;
  }
  .about h1 {
    font-size: 40px;
  }

  .about h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .about .intro {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
}

/* WORK */

.work .grid-work {
  text-align: center;
}

.work .grid-work img {
  max-width: 90%;
}

.work .grid-work h3 {
  margin: 30px 0 5px;
  font-weight: 700;
  font-size: 28px;
}

.work .grid-work p {
  opacity: 0.7;
  margin-bottom: 50px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .work .grid-work h3 {
    font-size: 24px;
  }
}

/* CONTACT */

.contact-methods {
  list-style: none;
  margin: -20px 0 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
}
.contact-methods li {
  display: inline-block;
  margin: 20px;
}

.contact-methods a {
  color: var(--primary-color);
  text-decoration: none;
}

.contact-methods a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contact-methods {
    margin-top: 20px;
  }
  .contact-methods li {
    display: block;
    margin: 10px 0;
  }
}

/* FOOTER */

footer {
  margin: 80px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 40px 80px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}
